body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.a {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  background-color: grey;
  padding:10px;
}

/*
- **Jazz up our navigation links**: Let's center all of our nav links as well. Give all of the `<a>` tags within our navbar a padding of 10px on their left and right sides. In addition, change their background color to something of your choosing. We chose grey!


- **Our image caption needs work**: Let's shrink that font size down and make sure it is centered.
*/