header{
  margin-left: auto;
  margin-right:auto;
  width: 50%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  margin-left:auto;
  margin-right:auto;
  width:100%;
}
nav > a {
  background-color: grey;
  padding:10px;
}

figcaption {
  margin-right:auto;
  margin-left: auto;
  width: 50%;
  font-size: 12px;
}

#featured-property {
  width:800px;
  margin-right:auto;
  margin-left:auto;
  width:50%;
}
/*

- **Update the text block**: Wouldn't it look nicer if our text was centered as well? Our image is about 900px wide, so let's give all our `<p>` within `#featured-property` a hard width of 800px and center the text in there.

- **Make our `#details` section horizontal**: The details section could go nicely as a footer to the page, instead of a vertical list. Change its `display` value to block and make sure each of the `<div>`s is `float`ing to the `left`.

- **As a finishing touch**: Let's clean up the `<div>`s at the bottom of the page. All of them should have the same background color, centered text, and occupy 25% of the `width` of the bottom row (since we have 4 divs).
*/